:root{
	--accent: #00ffe1;
	--text-bright: #ffffff;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

@font-face {
    font-family: 'Orbitron';
    src: url('assets/fonts/Orbitron-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SUSEMono';
    src: url('assets/fonts/SUSEMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ShareTechMono';
    src: url('assets/fonts/ShareTechMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
	justify-content: center;
	align-items: center;
	background-color: #000;
	font-family: 'ShareTechMono', 'SUSEMono', 'Roboto', 'Orbitron';
	display: flex;
	flex-direction: column;
	align-items: center;
}

.layout {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.banner {
	width: 500px;
	height: 25px;
	/*max-width: 1100px;
	background-color: #222;*/
	background: linear-gradient(180deg, #000, #225);
	color: var(--text-bright);
	padding: 1rem;
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Orbitron', 'Roboto';
	border-radius: 20px;
	text-shadow: 0 0 10px var(--accent);
	box-shadow: 0px 4px 10px rgba(0,255,255,0.3);
}

.lightsOffBanner {
	width: 500px;
	height: 25px;
	padding: 1rem;
	border-radius: 20px;
	border: none;
	background-color: black;
	color: black;
}

.container {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: calc(100vh - 80px);
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.panel {
	width: 20vw;
	height: 100%;
	background-color: #111;
	padding: 1rem;
	box-sizing: border-box;
	border-radius: 12px;

	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	border: none;
	box-shadow: none;
	opacity: 1;
	z-index: 999;
}

.offBlock {
	display: flex;
	flex: 1;
	padding: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.lightsOff {
	width: 20vw;
	height: 100%;
	border: none;
	background-color: black;
	color: black;
}

.block {
	display: flex;
	flex: 1;
	padding: 20px;
	border: 3px solid #666;
	border-radius: 12px;
	box-shadow: 0 4px 20px rgba(0,0,0,1);

	background: #444;
	justify-content: center;
	align-items: center;
	color: #999;

	/*transition: background-color 3s ease, transform 3s ease, box-shadow 3s ease, border-color 3s ease, border 3s ease, border-radius 3s ease, box-shadow 3s ease;*/
	transition: all 0.5s ease-in;
}

.block:hover {
	background-color: #555;
	transform: translateY(-4px);
	color: #fff;
}

#gameTitle {
	flex: 0 0 auto;
	font-family: 'Orbitron', san-seriff;
}

#page {
	flex: 0 0 auto;
}

#gameLink {
	color: #a8e2ff
}

#gameLink:visited {
	color: #190730
}

.game-wrapper {
	width: 50vw;
	height: 100%;
	position: relative;
	display: flex;

	justify-content: center;
	align-items: center;
	background: black;
}

canvas {
	display: block;
}

#doorLeft, #doorRight {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 50vw;
	background-color: black;
	z-index: 9999;
	transition: transform is ease-in-out;
}

#doorLeft {
	left: 0;
	transform: translateX(0);
}

#doorRight {
	right: 0;
	transform: translateX(0);
}

#welcome {
	position: fixed;
	z-index: 99999;
	height: 100vh;
	width: 100vw;
	color: white;
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Orbitron', san-seriff;
}
